<link rel="shortcut icon" href="/favicon.ico">
<h1 CABEZA DE CHIVO class="title">CABEZA DE CHIVO</h1>
<div id="ascii-border-top" class="ascii-shows-border"></div>
<script src="/assets/js/border.js"></script>
<script src="/assets/js/grit.js" defer></script>
<nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/shows/">shows</a></li>
      <li><a href="/epk/">press kit</a></li>
      <li><a href="/bio">bio</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="https://cabezadechivo.bandcamp.com">bandcamp</a></li>
      <li><a href="/chivo">el chivo</a></li>
      <li><a href="/chivo-fantasma">el chivo fantasma</a></li>
      <li><a href="/la-pelea-del-chivo">la pelea del chivo</a></li>
    </ul>
</nav>
  