<!DOCTYPE html>
<html>
<head>
<main>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.3/addons/p5.sound.min.js"></script>
  <link rel="stylesheet" href={{"/assets/css/style.css" | relative_url }}>
</head>
<body>
  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
  <div class="content3">
    <div id="sketch"></div>
  </div>
  <div class="content2">
    dale click al chivo
  </div>
  <script src="sketch.js"></script>
</body>
</main>
</html>
